
body, html {
	height: 100%;
}

h3 {
	text-align: center;
}

a, a:hover, a:focus {
	color: #000;
	text-decoration: none
}

.page-header {
	position: relative;
}

.page-header>.del {
	position: absolute;
	right: 0px;
	top: 0px;
}

.page-header>.del >span{
	margin-right:10px;
	color:#00f;
	cursor:pointer;
}

.page-header > .loginregister{ position: absolute;right: 200px;top: 0px;}

.container-fluid {
	min-height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 255, 0.2),
		rgba(0, 0, 255, 0.9));
}

.col-lg-12 {
	padding-right: 0px;
}

.container-fluid>.contant>.left, .container-fluid>.contant>.right {
	height: 100%;
}

.container-fluid>.contant>.left>.nav, .container-fluid>.contant>.right>.tab-content
	{
	height: 100%;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs>li>a {
	margin-right: 0px;
	padding: 30px 20px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	border-bottom-color: #ddd;
	border-radius: 10px 0px 0px 10px;
	border-right-color: transparent;
}

.nav-tabs>li>a {
	border-radius: 10px 0px 0px 10px;
}

.container-fluid>.contant>.right>.tab-content {
	height: 100%;
}

.container-fluid>.contant>.right>.tab-content>.tab-pane {
	border: solid 1px #ddd;
	border-left-color: transparent;
	height: 100%;
	background-color: #fff;
}

.col-md-9 {
	padding-left: 0px;
}

.tab-pane-contant {
	height: 800px;
}